@use "../variables";

/* ------------------------------------- Footer -------------------------------- */

.footer {
  margin-top: auto;
  background: variables.$color-dark;
  color: variables.$color-light;
  text-align: center;
  padding: 3rem 1.5rem;

  &__text {
    font-size: 0.9rem;
    opacity: 0.9;
  }

  &__nav-list {
    margin-top: 1rem;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    a {
      color: variables.$color-light;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover { 
        color: variables.$color-accent; 
      }
    }
  }
}
