<header class="header">
  <div class="header__container">
    <a href="index.html" class="header__logo-link" aria-label="Ir a la página principal">
      <picture>
        <source srcset="./assets/images/logo.png?as=webp&width=200" type="image/webp" />
        <img src="./assets/images/logo.png?width=200" alt="Universitat Oberta de Catalunya" class="header__logo" />
      </picture>
    </a>
    
    <nav class="header__nav" aria-label="Navegación principal">
      <ul class="header__nav-list">
        <li class="header__nav-item"><a href="index.html" class="header__nav-link active">Inicio</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link">Acerca de</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>